body {
  font-family: 'Helvetica Neue', sans-serif;
}

header {
  margin: 30px 0 40px 0;
}

.container {

  width: 500px;
  margin: 0 auto;

  text-align: center;
}

/* headers */ 

h1 {
  font-family: 'Candal', 'Helvetica Neue', sans-serif;
  font-size: 36px;
  color: #444;
}

hr {
  border-top: 1px solid #666;
  margin: 15px 70px 10px 70px;
}

#message-box {
  /* give this a height so message's display: none won't effect layout */
  height: 14px;
}

h2 {  

  color: #333;

  font-size: 14px;
  font-family: 'Droid Serif', serif;
}

/* the circle */ 

#target {
  width: 500px;
  height: 500px;

  border: dashed 1px #999;
  border-radius: 50%;

  position: relative;


  -webkit-transition: border-color 0.5s ease-out;  
     -moz-transition: border-color 0.5s ease-out;  
       -o-transition: border-color 0.5s ease-out; 
          transition: border-color 0.5s ease-out;

}

#current {

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #555;

  -webkit-transition: all 0.5s ease-out;  
     -moz-transition: all 0.5s ease-out;  
       -o-transition: all 0.5s ease-out; 
          transition: all 0.5s ease-out;

}

/* center trick 
   http://css-tricks.com/centering-in-the-unknown */ 

.block {
  text-align: center;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
}


#game {
  position: absolute;
  top: 225px;
  left: 210px;
}

input {
  height: 40px;
  width: 80px;

  color: white;
  background-color: rgba(1,1,1,0.0);
  border: 0;

  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 3px;

  text-align: center; /* make input center */
}

input:focus {
  outline: 0;
}

/* footer */ 

footer {
  margin-top: 40px;
}

button {
  border-radius: 4px;
  border: 0px;

  padding: 8px 13px;
  font-size: 14px;

  color: #FFF;
  background-color: #555;  
  border-width: 0px;

}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #444;
}

button:active {
  background-color: #222;
}
