body {
  font-family: 'Helvetica Neue', sans-serif;
}

header {
  margin: 30px 0 60px 0;
}

.container {

  width: 600px;
  margin: 0 auto;

  text-align: center;
}

/* headers */ 

h1 {
  font-size: 42px;
  color: #333;
}

hr {
  border-top: 1px solid #AAA;
  margin: 20px 70px;
}

#message-box {
  /* give this a height so message's display: none won't effect layout */
  height: 18px;
}

h2 {  

  color: #333;

  font-size: 18px;
  font-family: 'Droid Serif', serif;
}

/* the circle */ 

#target {
  width: 600px;
  height: 600px;

  border: dashed 1px #999;
  border-radius: 50%;

  position: relative;
}

#current {

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #444;

  -webkit-transition: all 0.5s ease-out;  
     -moz-transition: all 0.5s ease-out;  
       -o-transition: all 0.5s ease-out; 
          transition: all 0.5s ease-out;

}

/* center trick 
   http://css-tricks.com/centering-in-the-unknown */ 

.block {
  text-align: center;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.centered {
  display: inline-block;
  vertical-align: middle;
}


#game {
  position: absolute;
  top: 275px;
  left: 260px;
}

input {
  height: 40px;
  width: 80px;

  color: white;
  background-color: rgba(1,1,1,0.0);
  border: 0;

  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 3px;

  text-align: center; /* make input center */
}

input:focus {
  outline: 0;
}

/* footer */ 

footer {
  margin-top: 60px;
}

button {
  border-radius: 6px;
  border: 0px;

  padding: 10px 16px;
  font-size: 18px;

  border: solid 1px #EEA236;

  color: #FFF;
  background-color: #F0AD4E;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #E7A74C;
}

button:active {
  background-color: #FFAA32;
}
