header {
  margin: 30px 0 30px 0;
}

.container {

  width: 600px;
  margin: 0 auto;

  text-align: center;

}

hr {
  margin: 10px 90px;
}

#target {
  width: 600px;
  height: 600px;

  border: dashed 1px #999;

  border-radius: 50%;

  position: relative;

}

#current {

  width: 100px;
  height: 100px;

  border-radius: 50%;
  background-color: #F00;
}

/* This parent can be any width and height */
.block {
  text-align: center;
}
 
/* The ghost, nudged to maintain perfect centering */
.block:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */ 
.centered {
  display: inline-block;
  vertical-align: middle;
}

#game {
  position: absolute;
  top: 283px;
  left: 265px;
}

input:focus {
  outline: 0;
}

input {
  height: 34px;
  width: 70px;

  color: white;
  background-color: rgba(1,1,1,0.0);
  border: 0;

  font-size: 30px;
  text-align:center; /* make input center */
}

footer {
  margin-top: 30px;
}